# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Environments
.venv/
env/
venv/

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# Local Data & DBs
*.db
*.sqlite3
.pdf_translator/
